## ***Data Analyst Salary Project***

### ***DATA CLEANING***

In [2]:
import pandas as pd 
import matplotlib.pyplot as plt 
import seaborn as sns

In [3]:
df=pd.read_csv('DataAnalyst.csv',index_col=0)
df.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,Easy Apply
0,"Data Analyst, Center on Immigration and Justic...",$37K-$66K (Glassdoor est.),Are you eager to roll up your sleeves and harn...,3.2,Vera Institute of Justice\n3.2,"New York, NY","New York, NY",201 to 500 employees,1961,Nonprofit Organization,Social Assistance,Non-Profit,$100 to $500 million (USD),-1,True
1,Quality Data Analyst,$37K-$66K (Glassdoor est.),Overview\n\nProvides analytical and technical ...,3.8,Visiting Nurse Service of New York\n3.8,"New York, NY","New York, NY",10000+ employees,1893,Nonprofit Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),-1,-1
2,"Senior Data Analyst, Insights & Analytics Team...",$37K-$66K (Glassdoor est.),We’re looking for a Senior Data Analyst who ha...,3.4,Squarespace\n3.4,"New York, NY","New York, NY",1001 to 5000 employees,2003,Company - Private,Internet,Information Technology,Unknown / Non-Applicable,GoDaddy,-1
3,Data Analyst,$37K-$66K (Glassdoor est.),Requisition NumberRR-0001939\nRemote:Yes\nWe c...,4.1,Celerity\n4.1,"New York, NY","McLean, VA",201 to 500 employees,2002,Subsidiary or Business Segment,IT Services,Information Technology,$50 to $100 million (USD),-1,-1
4,Reporting Data Analyst,$37K-$66K (Glassdoor est.),ABOUT FANDUEL GROUP\n\nFanDuel Group is a worl...,3.9,FanDuel\n3.9,"New York, NY","New York, NY",501 to 1000 employees,2009,Company - Private,Sports & Recreation,"Arts, Entertainment & Recreation",$100 to $500 million (USD),DraftKings,True

In [4]:
df.columns

Index(['Job Title', 'Salary Estimate', 'Job Description', 'Rating',
       'Company Name', 'Location', 'Headquarters', 'Size', 'Founded',
       'Type of ownership', 'Industry', 'Sector', 'Revenue', 'Competitors',
       'Easy Apply'],
      dtype='object')

In [5]:
df.describe()

            Rating      Founded
count  2253.000000  2253.000000
mean      3.160630  1398.522858
std       1.665228   901.929251
min      -1.000000    -1.000000
25%       3.100000    -1.000000
50%       3.600000  1979.000000
75%       4.000000  2002.000000
max       5.000000  2019.000000

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2253 entries, 0 to 2252
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Job Title          2253 non-null   object
 1   Salary Estimate    2253 non-null   object
 2   Job Description    2253 non-null   object
 3   Rating             2253 non-null   float64
 4   Company Name       2252 non-null   object
 5   Location           2253 non-null   object
 6   Headquarters       2253 non-null   object
 7   Size               2253 non-null   object
 8   Founded            2253 non-null   int64
 9   Type of ownership  2253 non-null   object
 10  Industry           2253 non-null   object
 11  Sector             2253 non-null   object
 12  Revenue            2253 non-null   object
 13  Competitors        2253 non-null   object
 14  Easy Apply         2253 non-null   object
dtypes: float64(1), int64(1), object(13)
memory usage: 281.6+ KB

In [7]:
df.isnull().sum()

Job Title            0
Salary Estimate      0
Job Description      0
Rating               0
Company Name         1
Location             0
Headquarters         0
Size                 0
Founded              0
Type of ownership    0
Industry             0
Sector               0
Revenue              0
Competitors          0
Easy Apply           0
dtype: int64

In [8]:
df['Job Title'].unique()

array(['Data Analyst, Center on Immigration and Justice (CIJ)',
       'Quality Data Analyst',
       'Senior Data Analyst, Insights & Analytics Team [Customer Operations]',
       ..., 'Senior Data Analyst (Corporate Audit)',
       'Technical Business Analyst (SQL, Data analytics, ETL)',
       'Senior Quality Data Analyst'], dtype=object)

In [9]:
def title_simp(title):
    if 'data scientist' in title.lower():
        return 'data scientist'
    elif ' data analyst' in title.lower():
        return 'data analyst'
    elif 'business analyst' in title.lower():
        return 'business analyst'
    elif 'research analsyt' in title.lower():
        return 'research analsyt'
    elif 'product analyst' in title.lower():
        return 'product analyst'
    elif 'reporting analyst' in title.lower():
        return 'reporting analyst'
    elif 'warehouse analyst' in title.lower():
        return 'data analyst'
    elif 'functional analyst' in title.lower():
        return 'data analyst'
    elif 'analyst' in title.lower():
        return 'analyst'
    else:
        return 'NA'

In [10]:
def seo(title):
    if 'sr' in title.lower() or 'senior' in title.lower() or 'sr' in title.lower() or 'lead' in title.lower() or 'principal' in title.lower():
        return 'Senior'
    elif 'jr' in title.lower() or 'jr.' in title.lower() or 'junior' in title.lower():
        return 'JR'
    elif 'entry level' in title.lower():
        return 'Entry Level'
    else:
        return 'na'

In [11]:
df['Title_Simplified']=df['Job Title'].apply(title_simp)

In [12]:
df['Title_Simplified'].value_counts()

analyst              1246
data analyst          881
business analyst       64
reporting analyst      46
data scientist         14
product analyst         2
Name: Title_Simplified, dtype: int64

In [13]:
df['Level']=df['Job Title'].apply(seo)

In [14]:
df['Level'].value_counts()

na             1693
Senior          481
JR               73
Entry Level       6
Name: Level, dtype: int64

In [15]:
df['Salary Estimate']==-1

0       False
1       False
2       False
3       False
4       False
        ...
2248    False
2249    False
2250    False
2251    False
2252    False
Name: Salary Estimate, Length: 2253, dtype: bool

In [16]:
sal = df['Salary Estimate'].apply(lambda x: x.split('(')[0])

In [17]:
sal

0        $37K-$66K
1        $37K-$66K
2        $37K-$66K
3        $37K-$66K
4        $37K-$66K
           ...
2248    $78K-$104K
2249    $78K-$104K
2250    $78K-$104K
2251    $78K-$104K
2252    $78K-$104K
Name: Salary Estimate, Length: 2253, dtype: object

In [18]:
symbol = sal.apply(lambda x: x.replace('$','').replace('K',''))

In [19]:
symbol

0        37-66
1        37-66
2        37-66
3        37-66
4        37-66
         ...
2248    78-104
2249    78-104
2250    78-104
2251    78-104
2252    78-104
Name: Salary Estimate, Length: 2253, dtype: object

In [20]:
df['Min_salary']=symbol.apply(lambda x: x.split('-')[0])
df['Max_salary']=symbol.apply(lambda x: x.split('-')[1])

In [21]:
df['Min_salary']

0       37
1       37
2       37
3       37
4       37
        ..
2248    78
2249    78
2250    78
2251    78
2252    78
Name: Min_salary, Length: 2253, dtype: object

In [22]:
df['Max_salary']

0        66
1        66
2        66
3        66
4        66
        ...
2248    104
2249    104
2250    104
2251    104
2252    104
Name: Max_salary, Length: 2253, dtype: object

In [23]:
df['description']=df['Job Description'].apply(lambda x: len(x))

In [24]:
df['job_location'] = df['Location'].apply(lambda x: x.split(',')[1])
df.job_location.value_counts()

 CA          626
 TX          394
 NY          345
 IL          164
 PA          114
 AZ           97
 NC           90
 CO           88
 NJ           86
 WA           54
 VA           48
 OH           35
 UT           33
 FL           27
 IN           23
 DE           11
 Arapahoe      8
 GA            4
 SC            3
 KS            3
Name: job_location, dtype: int64

In [25]:
df['age'] = df.Founded.apply(lambda x: x if x <1 else 2020 - x)

In [26]:
df.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,...,Revenue,Competitors,Easy Apply,Title_Simplified,Level,Min_salary,Max_salary,description,job_location,age
0,"Data Analyst, Center on Immigration and Justic...",$37K-$66K (Glassdoor est.),Are you eager to roll up your sleeves and harn...,3.2,Vera Institute of Justice\n3.2,"New York, NY","New York, NY",201 to 500 employees,1961,Nonprofit Organization,...,$100 to $500 million (USD),-1,True,analyst,na,37,66,7057,NY,59
1,Quality Data Analyst,$37K-$66K (Glassdoor est.),Overview\n\nProvides analytical and technical ...,3.8,Visiting Nurse Service of New York\n3.8,"New York, NY","New York, NY",10000+ employees,1893,Nonprofit Organization,...,$2 to $5 billion (USD),-1,-1,data analyst,na,37,66,4702,NY,127
2,"Senior Data Analyst, Insights & Analytics Team...",$37K-$66K (Glassdoor est.),We’re looking for a Senior Data Analyst who ha...,3.4,Squarespace\n3.4,"New York, NY","New York, NY",1001 to 5000 employees,2003,Company - Private,...,Unknown / Non-Applicable,GoDaddy,-1,data analyst,Senior,37,66,4688,NY,17
3,Data Analyst,$37K-$66K (Glassdoor est.),Requisition NumberRR-0001939\nRemote:Yes\nWe c...,4.1,Celerity\n4.1,"New York, NY","McLean, VA",201 to 500 employees,2002,Subsidiary or Business Segment,...,$50 to $100 million (USD),-1,-1,analyst,na,37,66,5249,NY,18
4,Reporting Data Analyst,$37K-$66K (Glassdoor est.),ABOUT FANDUEL GROUP\n\nFanDuel Group is a worl...,3.9,FanDuel\n3.9,"New York, NY","New York, NY",501 to 1000 employees,2009,Company - Private,...,$100 to $500 million (USD),DraftKings,True,data analyst,na,37,66,3376,NY,11

In [27]:
df['Revenue'] = df['Revenue'].apply(lambda x: x.split('()')[0])

In [28]:
df['num_comp'] = df['Competitors'].apply(lambda x: len(x.split(',')) if x != '-1' else 0)

In [29]:
df['num_comp']

0       0
1       0
2       1
3       0
4       1
       ..
2248    0
2249    3
2250    0
2251    0
2252    3
Name: num_comp, Length: 2253, dtype: int64

In [30]:
df.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,...,Competitors,Easy Apply,Title_Simplified,Level,Min_salary,Max_salary,description,job_location,age,num_comp
0,"Data Analyst, Center on Immigration and Justic...",$37K-$66K (Glassdoor est.),Are you eager to roll up your sleeves and harn...,3.2,Vera Institute of Justice\n3.2,"New York, NY","New York, NY",201 to 500 employees,1961,Nonprofit Organization,...,-1,True,analyst,na,37,66,7057,NY,59,0
1,Quality Data Analyst,$37K-$66K (Glassdoor est.),Overview\n\nProvides analytical and technical ...,3.8,Visiting Nurse Service of New York\n3.8,"New York, NY","New York, NY",10000+ employees,1893,Nonprofit Organization,...,-1,-1,data analyst,na,37,66,4702,NY,127,0
2,"Senior Data Analyst, Insights & Analytics Team...",$37K-$66K (Glassdoor est.),We’re looking for a Senior Data Analyst who ha...,3.4,Squarespace\n3.4,"New York, NY","New York, NY",1001 to 5000 employees,2003,Company - Private,...,GoDaddy,-1,data analyst,Senior,37,66,4688,NY,17,1
3,Data Analyst,$37K-$66K (Glassdoor est.),Requisition NumberRR-0001939\nRemote:Yes\nWe c...,4.1,Celerity\n4.1,"New York, NY","McLean, VA",201 to 500 employees,2002,Subsidiary or Business Segment,...,-1,-1,analyst,na,37,66,5249,NY,18,0
4,Reporting Data Analyst,$37K-$66K (Glassdoor est.),ABOUT FANDUEL GROUP\n\nFanDuel Group is a worl...,3.9,FanDuel\n3.9,"New York, NY","New York, NY",501 to 1000 employees,2009,Company - Private,...,DraftKings,True,data analyst,na,37,66,3376,NY,11,1

In [31]:
df.to_csv('DA Salary Cleaned.csv')